// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
  font-weight: normal;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}

footer {
  color: #777;
  font-size: 13px;
  margin-top: 45px;
  padding-top: 5px;
  font-weight: bold;
  border-top: 1px solid #eaeaea;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }
}

/* User gravatar */

section.user_info {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;

  .gravatar {
    float: none;
    max-width: 70px;
  }

  h1 {
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 3px;
    letter-spacing: -1px;
  }
}

.gravatar {
  float: left;
  max-width: 50px;
  border-radius: 50%;
}
